<div class="header">
  <%= render "layouts/navbar" %>
  <div class="text-center header-info">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="cocktail-show">
    <div class="box-flex2">
      <h3>Small description</h3>
      <div>
        <a href="#picture" id="first"><i class="fas fa-camera"></i></a>
        <%= link_to (raw("<i class='far fa-edit' id='edit'></i>")), edit_cocktail_path(@cocktail) %>
        <%= link_to (raw("<i class='far fa-trash-alt'></i>")), cocktail_path(@cocktail),
          method: :delete,
          data: { confirm: "Are you sure you want to delete '#{@cocktail.name}'" }
        %>
      </div>
    </div>
    <p><%= @cocktail.small_description %></p>
    <div class="box-flex" id="plus">
      <h3>Ingredients</h3>
      <%= link_to (raw("<i class='fas fa-plus-circle'></i>")), new_cocktail_dose_path(@cocktail) %>
    </div>
    <% if @cocktail.doses == [] %>
      <p id="padding-add">There is no ingredient in this recipe yet. Please add some.</p>
    <% end %>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <div class="box-flex" id="trash">
          <li><%= dose.ingredient.name %>: <%= dose.description %></li>
          <%= link_to (raw("<i class='far fa-trash-alt'></i>")), dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure you want to delete '#{dose.ingredient.name}'" }
          %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<div class="cocktail-image" id="picture">
  <%= cl_image_tag @cocktail.photo, height: 400, width: 500, crop: :fit %>
  <%= link_to (raw("<i class='fas fa-times-circle quit'></i>")), cocktail_path(@cocktail) %>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    const initRefreshPage = () => {
    const button = document.querySelector("#first");
    button.addEventListener('click', function() {
      setTimeout(function() {
        window.location.reload();
      }, 200);
    });
    }
    initRefreshPage();
  });

</script>
